<div class="login_container">
  <div class="login_container__form">
    <p class="login_container__form__title">Criar conta</p>
    <div class="login_container__form__control">
      <label class="login_container__form__control__label" for="name">Nome</label>
      <input class="login_container__form__control__input" type="text" name="name" id="name" placeholder="Informe seu nome">
    </div>
    <div class="login_container__form__control">
      <label class="login_container__form__control__label" for="email">E-mail</label>
      <input class="login_container__form__control__input" type="email" name="email" id="email" placeholder="Informe seu e-mail">
    </div>
    <div class="login_container__form__control">
      <label class="login_container__form__control__label" for="email">Senha</label>
      <input class="login_container__form__control__input" type="password" name="password" id="password" placeholder="Informe sua senha">
    </div>
    <div class="login_container__form__control">
      <label class="login_container__form__control__label" for="password_repet">Repetir senha</label>
      <input class="login_container__form__control__input" type="password" name="password_repet" id="password_repet" placeholder="Informe sua senha novamente">
    </div>

    <button class="login_container__form__button" (click)="onCreateAccount()">Criar conta</button>

  </div>
</div>
