<div class="login_container">
  <div class="login_container__form">
    <p class="login_container__form__title">Login</p>

    <div class="login_container__form__control">
      <label class="login_container__form__control__label" for="email">E-mail</label>
      <input class="login_container__form__control__input" type="email" name="email" id="email" placeholder="Informe seu e-mail">
    </div>
    <div class="login_container__form__control">
      <label class="login_container__form__control__label" for="email">Senha</label>
      <input class="login_container__form__control__input" type="password" name="password" id="password" placeholder="Informe sua senha">
    </div>

    <button class="login_container__form__button" (click)="onSubmit()">Entrar</button>
    <span class="login_container__form__create">Ainda não tem um conta. <a class="login_container__form__create_account" routerLink="/criar_conta"> Criar conta</a> </span>

  </div>
</div>
