<div class="partida_container">

  <!--game-->
  <div class="partida_container__game">
    <canvas #myCanvas height="480" width="640"></canvas>
  </div>

  <div class="partida_container__start__reset">
    <button class="partida_container__start__reset__button" (click)="resetOptionsSelect()">
      <img class="partida_container__start__reset__button__icon" src="../../assets/drag_drop/reset.svg">
    </button>
    <button class="partida_container__start__reset__button" (click)="startAnimations()" >
      <img class="partida_container__start__reset__button__icon"  src="../../assets/drag_drop/start.svg">
    </button>
  </div>

  <!--  controler -->
  <div class="partida_container__controls">
    <div cdkDropListGroup class="drag_container_options">
      <!--  opções de seleção-->
      <div cdkDropList [cdkDropListData]="options" class="drag_container_options__start"
           cdkDropListOrientation="horizontal">
        <img class="drag_container_options__item" *ngFor="let item of options; let i = index" cdkDrag src="{{item.path}}">
      </div>
      <!--  campo para destino de opçõs de função -->
      <div cdkDropList [cdkDropListData]="selected_normal" cdkDropListOrientation="horizontal"
           class="drag_container_options__destine"
           (cdkDropListDropped)="dropOptionElementNormal($event)">
        <img class="drag_container_options__item" *ngFor="let item of selected_normal; let i = index" cdkDrag src="{{item.path}}"  (dblclick)="onRemoveItemListNormal(i)" >
      </div>
      <!--   fundo de opção selecinadas-->
      <img class="drag_container_options__img__sequence" src="../../assets/drag_drop/campo_sequencia.png">

      <!--  icone de opçao de função-->
      <div cdkDropList [cdkDropListData]="option_function" class="drag_container_options__function"
           cdkDropListOrientation="horizontal">
        <img class="drag_container_options__item" *ngFor="let item of option_function" cdkDrag src="{{item.path}}">
      </div>
      <div cdkDropList [cdkDropListData]="selected_function" cdkDropListOrientation="horizontal"
           class="drag_container_options__destine__function"
           (cdkDropListDropped)="dropOptionElementFunction($event)">
        <img class="drag_container_options__item" *ngFor="let item of selected_function; let j = index" cdkDrag src="{{item.path}}" (dblclick)="onRemoveItemListFunction(j)" >
      </div>
      <img class="drag_container_options__img__sequence__function" src="../../assets/drag_drop/campo_funcao.png">
    </div>
  </div>
</div>


