.historico_container {
  width: 800px;
  margin: 0 auto;
  padding: 24px;
}


.historico_container__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;

  color: #D58936;
}


.historico_container__option {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #CDD4DE;
}

.historico_container__points {
  color: #D58936;
  padding: 12px 0;
}

.historico_container__points__value{
  font-weight: 500;
  line-height: 19px;
  color: #CDD4DE;

}
