/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}


:root {
  --primary: #2F2F2E;
  --primary-appbar: #4D4D4D;
  --custom-yellow: #D58936;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--primary);

}



.title_container {
  width: 800px;
  margin: 0 auto;
  padding: 24px;
}


.title_container__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #D58936;
}

.title_container__points {
  color: #D58936;
  padding: 12px 0;
}

.title_container__points__value{
  font-weight: 500;
  line-height: 19px;
  color: #CDD4DE;

}

